h1 {
    font-family: fantasy;
    size: 500px;
    color: white;
    margin: center;
    position: absolute;
    left: 42%;
}

h2 {
    font-family: fantasy;
    size: 100px;
    color: black;
    margin: Center;
    position: absolute;
    top: 20%;
    left: 32%;

}

.container {
    width: 100%;
    display: flex;
    position: absolute;
    top: 48%;
}

.box1 {
    border: 1px solid #ccc;
    padding: 30px;
    background: #D7D989;
    color: #BAA70F;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    margin: 0 0 6px 0;
    position: absolute;
    top: 52%;
    left: 20%;
    height: 40px;
    width: 60px;
    font-family: "JetBrains Mono", monospace;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 12px;

}
body {
    background-image: url("https://i.pinimg.com/736x/61/3b/fc/613bfcf316ac8d330822f564f1207017.jpg");
    background-size: cover;
  }


.box1:hover {
    background-color: #B3B572;
    cursor: pointer;
}


.box2 {
    border: 1px solid #ccc;
    padding: 30px;
    color: grey;
    background: #CDD2D4;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    margin: 0 0 6px 0;
    position: absolute;
    top: 52%;
    left: 45%;
    height: 40px;
    width: 60px;
    font-family: "JetBrains Mono", monospace;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 12px;
}

.box2:hover {
    background-color: #A0A4A6;
    cursor: pointer;
}

.box3 {
    border: 1px solid #ccc;
    padding: 30px;
    color: #970D0D;
    background: #D91313;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    margin: 0 0 6px 0;
    position: absolute;
    top: 52%;
    left: 70%;
    height: 40px;
    width: 60px;
    font-family: "JetBrains Mono", monospace;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 14px;
}

.box3:hover {
    background-color: #A60F0F;
    cursor: pointer;
}
